@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Shared style */

.display-flex {
  display: flex;
}
.bg-color {
  background: linear-gradient(
    22deg,
    rgba(5, 2, 13, 1) 0%,
    rgba(47, 44, 46, 1) 49%,
    rgba(15, 6, 12, 1) 98%
  );
}
.orange-color {
  color: #e6533c;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #e6533c;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-bg {
  background-color: black;
  width: 100%;
  height: 100%;
}

/* shared style end  */
header {
  width: 100%;
}
.navbar {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 70px;
  width: 100%;
  height: 8em;
  align-items: center;
}
.navbar ul {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
}
.navbar a {
  text-decoration: none;
  gap: 10px;
  color: white;
  font-size: 1.02rem;
  font-weight: 500;
  padding: 0 18px;
}
.navbar li:hover {
  background-color: #e6533c;
  padding: 5px 0px;
  border-radius: 20px;
  transition: ease 500ms;
}
.navbar .menu {
  width: 45px;
  align-items: center;
  display: none;
}
.brand {
  font-size: 2.5rem;
  font-style: italic;
}
ul li:first-child {
  background-color: #e6533c;
  padding: 5px 0px;
  border-radius: 20px;
}

/* hero section style  */

.hero-container {
  justify-content: space-around;
  align-items: center;
}

.left-content {
  max-width: 400px;
}
.hero-title {
  font-size: 4rem;
  margin-top: -70px;
  color: white;
}
.hero-title span {
  font-family: miama;
  font-weight: 100;
  font-size: 4rem;
  line-height: 1;
}
.hero-describtion {
  font-size: 1rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero-btn {
  padding: 10px 20px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;

  border-radius: 25px;
  cursor: pointer;
}
.right-content {
  position: relative;
}
.badge {
  width: 140px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-top: -150px;
  margin-left: -50px;
  position: absolute;
}
.circle {
  background-color: #e6533c;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  position: absolute;
}

.badge2 {
  width: 140px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  margin-top: -400px;
  margin-left: 230px;
}
.badge-number1 {
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  margin-left: 10px;
}
.badge-title1 {
  font-size: 0.7rem;
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
  margin-left: 20px;
}

.badge-number {
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
}
.badge-title {
  font-size: 0.7rem;
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
}

/* header section style end ----  */

/* habit section relatate style  */
.habit-container {
  width: 100%;
  background-color: black;
}
.habit-content {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;

  padding-top: 80px;
}
.habit-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
}
.habit-describtion {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin: 15px 0;
}
.habit-cards {
  margin: 80px 110px 0px 110px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-bottom: 100px;
}

.habit-card {
  height: 250px;
  max-width: 200px;

  text-align: center;
}
.habit-card img {
  width: 80%;

  border-radius: 50%;
}
.habit-name {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 8px 0;
}
.habit {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

/* ****Run section style here **** */
.run-container {
  max-width: 1050px;
  max-height: 900px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.run-content {
  max-width: 400px;
  margin-left: 50px;
}
.run-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.run-content p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 15px 0 18px;
}
.run-man img {
  border-radius: 15px;
  max-height: 220px;
  max-width: 400px;
  margin: 20px;
}

/* ========BMI Section======== */
.bmi-header {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 70px;
}
.bmi-describtion {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 100px;
}
.bmi-chart h1 {
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
}
td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px;
  color: rgba(255, 255, 255, 0.5);
}
th {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px;
  color: white;
}
.calculator-container {
  max-width: 100%;
  max-height: 900px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  margin: 0 auto;
  color: white;
  padding: 30px 0px;
  margin-bottom: 100px;
  justify-content: space-around;
}

.bmi-calculator {
  max-width: 500px;
}
.bmi-calculator p {
  margin: 16px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.form-container .form {
  margin-top: 10px;
}

.form .input-box {
  width: 100%;
  margin-top: 10px;
}
.input-box input {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  outline: none;
}
select,
option {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
.form .input-box input,
select {
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 1px solid darkgoldenrod;
  padding: 0 15px;
}
.column {
  display: flex;
  column-gap: 5px;
}
.btn-calculator {
  margin-top: 20px;
  padding: 10px 40px;
}
/* =====Team section style===== */
.teams h1 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.teams p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 80px;
}
.team-container {
  max-width: 860px;
  max-height: 520px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  margin: 0 auto;
  border-radius: 8px;
}

.team-content {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.trainer img {
  width: 250px;
  height: 220px;
  border-radius: 8px;
}
.trainer {
  position: relative;
}
.trainer-data {
  position: absolute;
  bottom: 12px;
  left: 10px;
}

/* small device responsive */

@media screen and (max-width: 576px) {
  .hero-container,
  .run-container,
  .calculator-container {
    flex-direction: column;
  }
  .badge {
    margin-left: 0;
  }
  .badge2 {
    margin-left: 205px;
  }

  .habit-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-title {
    margin-top: 50px;
    margin-left: 10px;
  }
  .hero-describtion {
    margin-left: 10px;
  }
  .hero-btn1 {
    margin-left: 50px;
  }
  .navbar ul {
    display: none;
  }
  .navbar {
    padding: 20px;
  }
  .navbar .menu {
    margin-bottom: 10px;
    display: block;
  }
  .habit-describtion {
    padding: 0 10px;
  }
  #run-btn {
    width: 90%;
  }
  .calculator-container {
    align-items: center;
  }
  .bmi-calculator {
    max-width: 300px;
    margin-top: 40px;
  }
  .bmi-header {
    font-size: 2.5rem;
  }
  .bmi-describtion {
    padding: 0 15px;
  }
  .team-content {
    grid-template-columns: repeat(1, 250px);
  }
  .team-container {
    max-height: 100%;
  }
}
