@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Shared style */

.display-flex {
  display: flex;
}
.bg-color {
  background: linear-gradient(
    22deg,
    rgba(5, 2, 13, 1) 0%,
    rgba(47, 44, 46, 1) 49%,
    rgba(15, 6, 12, 1) 98%
  );
}
.orange-color {
  color: #e6533c;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #e6533c;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* shared style end  */
header {
  width: 100%;
}
.navbar {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 70px;
  width: 100%;
  height: 8em;
  align-items: center;
}
.navbar ul {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
}
.navbar a {
  text-decoration: none;
  gap: 10px;
  color: white;
  font-size: 1.02rem;
  font-weight: 500;
  padding: 0 18px;
}
.navbar .menu {
  width: 45px;
  align-items: center;
  display: none;
}
.brand {
  font-size: 2.5rem;
  font-style: italic;
}
ul li:first-child {
  background-color: #e6533c;
  padding: 5px 0px;
  border-radius: 20px;
}

/* hero section style  */

.hero-container {
  justify-content: space-around;
  align-items: center;
}

.left-content {
  max-width: 400px;
}
.hero-title {
  font-size: 4rem;
  margin-top: -70px;
  color: white;
}
.hero-title span {
  font-family: miama;
  font-weight: 100;
  font-size: 4rem;
}
.hero-describtion {
  font-size: 1rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero-btn {
  padding: 10px 20px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;

  border-radius: 25px;
  cursor: pointer;
}
.right-content {
  position: relative;
}
.badge {
  width: 140px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-top: -150px;
  margin-left: -50px;
  position: absolute;
}

.badge2 {
  width: 140px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  margin-top: -400px;
  margin-left: 230px;
}
.badge-number {
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
}
.badge-title {
  font-size: 0.7rem;
  margin-top: 5px;
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
}

/* header section style end ----  */

/* small device responsive */

@media screen and (max-width: 576px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-title {
    margin-top: 50px;
    margin-left: 10px;
  }
  .hero-describtion {
    margin-left: 10px;
  }
  .hero-btn1 {
    margin-left: 50px;
  }
  .navbar ul {
    display: none;
  }
  .navbar {
    padding: 20px;
  }
  .navbar .menu {
    margin-bottom: 10px;
    display: block;
  }
}
